#admin
{
    @media screen and (max-width: 1000px)
    {
        .sidebar
        {
            display: none;
        }
        #products
        {
            width: 100%;
            @media screen and (max-width: 992px)
            {
                .nav-products
                {
                    display: none;
                }
            }
        }
    }
    #admin-content, #products, .categories, #edit-product, .add-property, .create-product
    {
        margin-top: 3.2rem;
    }
    .create-product
    {
        label
        {
            font-weight: bolder;
            color: $green;
        }
        input, select, textarea
        {
            border: 0;
            border-bottom: 1px solid $green;
        }
    }
    .role
    {
        margin-top: 5rem;
        form
        {
            select
            {
                border: 0;
                border-bottom: 1px solid $green;
            }
        }
    }
    .edit-product, .add-property, .categories-sec, .edit-category, .ads-sec
    {
        label
        {
            font-weight: bolder;
            color: $green;
        }
        input, select, textarea
        {
            border: 0;
            border-bottom: 1px solid $green;
        }
    }
}
