#admin
{
    @media screen and (max-width: $break-small)
    {
        .sidebar-container
        {
            display: none;
        }
        #products
        {
            width: 100%;
            @media screen and (max-width: 992px)
            {
                .nav-products
                {
                    display: none;
                }
            }
        }
        .inbox-container
        {
            display: flex;
            flex: 1;
            .inbox-side
            {
                padding: 10px;
                flex: 0.30;
                height: 100vh;
                overflow: scroll;
                >div
                {
                    overflow: scroll;
                    height: 50vh;
                }
            }
            .message-content
            {
                flex: 0.75;
                height: 100vh;
                overflow: scroll;
                padding: 3rem;
            }
        }
    }
    @media screen and (min-width: $break-medium)
    {
        .sidebar-container
        {
            margin-top: 5rem;
            .sidebar
            {
                color: $green;
                font-size: 18px;
                font-family: $font-family-anton;
                margin-top: 8rem;
            }
        }
        .back
        {
            display: none;
        }
        .inbox-container
        {
            display: flex;
            flex: 1;
            .inbox-side
            {
                padding: 10px;
                flex: 0.25;
                height: 100vh;
                overflow: scroll;
                >div
                {
                    overflow: scroll;
                    height: 50vh;
                }
            }
            .message-content
            {
                flex: 0.50;
                height: 100vh;
                overflow: scroll;
                padding: 3rem;
            }
        }
    }
    .admin-home
    {
        margin: 1rem auto;
    }

    .role
    {
        margin-top: 5rem;
        form
        {
            select
            {
                border: 0;
                border-bottom: 1px solid $green;
            }
        }
    }
    .products, .categories
    {
        label
        {
            font-weight: bolder;
            color: $green;
        }
        input, select, textarea
        {
            border: 0;
            border-bottom: 1px solid $green;
        }
    }

}
