

#cart
{
    section
    {
        .quick-access
        {
            background-color: $green;
            ol
            {
                display: flex;
                list-style: none;
                justify-content: space-evenly;
                font-size: 18px;
                font-weight: bolder;
                a
                {
                    color: $black;
                    &:hover
                    {
                        color: $green;
                    }
                }
                .active
                {
                    color: $green;
                }
            }
        }

    }
}

#cart
{
    .table-responsive
    {
        height: 500px;
        position: relative;
        overflow: auto;
    }
    
}
