#contact
{
    .container
    {
        .quick-access
        {
            width: 100%;
            background-color: $green;
            border-bottom-right-radius: 5px;
            height: 5rem;
            ul
            {
                list-style: none;
                display: flex;
                justify-content: flex-start;
                li
                {
                    flex: 1;
                    a
                    {
                        color: $black;
                        font-weight: bolder;
                        &:hover
                        {
                            color: $white;
                        }
                    }
                }
                li:last-child
                {
                    a
                    {
                        color: $white;
                    }
                }
            }
        }
        .address-phone
        {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            @media screen and (max-width: $break-small)
            {
                display: block;
            }
        }
        form
        {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            div
            {
                width: 40%;
            }
            label
            {
                font-weight: bolder;
                color: $black;
            }
            input, textarea
            {
                border: 0;
                border-bottom: 1px solid $green;
                max-height: 3rem;
            }
        }
    }
}

#newsletter
{
    .form-group
    {
        width: 50%;
    }
    input
    {
        border: none;
        border-bottom: 1px solid $green;
    }
}


#app
{
    .leaflet-shadow-pane
    {
        display: none;
    }
}
