#footer
{
    font-family: $font-family-sans-serif;
    .container
    {

    }
    .bottom
    {
        padding: 2rem;
        overflow: hidden;
        max-width: 100%;
        background-color: $black;
        color: $white;
    }
}
