*
{
    margin: 0;
}

@media screen and (max-width: $break-small)
{
    h2, h1, h3
    {
        font-size: 13px;
    }
    h4, b, .last, p
    {
        font-size: 13px
    }
    .container
    {
        margin: 1rem auto;
    }
}

body
{
    position: relative;
    height: 100vh;
}

h1
{
    color: $black;
    font-family: $font-family-sans-serif;
}
h2
{
    color:$green;
    font-family: $font-family-sans-serif;
}
h2, h3, h4, h5, h6
{
    font-family: $font-family-anton;
}

ul
{
    list-style-type: none;
}

button, a.link
{
    background-color: $green;
    color: $white;
    border: 0;
    padding: 10px 15px;
}
button:hover
{
    cursor: pointer;
}
body
{
    //position: relative;
}
// verify-message is here

.verify-message
{
    background-color: $green;
    margin: 0 auto;
    text-align: center;
}
