*
{
    margin: 0;
}

a
{
    text-decoration: none;
}

@media screen and (max-width: $break-small)
{
    h2, h1, h3
    {
        font-size: 13px;
    }
    h4, b, .last, p
    {
        font-size: 13px
    }
    .container
    {
        margin: 1rem auto;
        max-width: 60% !important;
    }
}


body
{
    position: relative;
    height: 100vh;
    .container
    {
        .articles
        {
            .card
            {
                position: relative;
                .add-cart
                {
                    position: absolute;
                    right: 25px;
                    top: 45%;
                }
            }
        }
    }
}

img
{
    max-width: 100%;
}
h1, h2, h3, h5, h6
{
    color: $black;
    font-family: $font-family-sans-serif !important;
}

#footer
{
    padding: 0;
}

#home .container, 
#contact .container, 
#shop .container, 
#cart .container, 
#wishlist .container, 
#checkout .container, 
#newsletter .container, 
#cart_items .container
{
    display: block !important;
}

#login .row, #reset-password .row
{
    width: 100%;
}

#login .card, #reset-password .card
{
    width: 70%;
}

ul
{
    list-style-type: none;
}

a.google
{
    background-color: $red;
    color: $white !important;
    font-weight: 900;
    padding: 0.75rem;
}

button, a.link
{
    background-color: $green;
    font-weight: 800;
    color: $white !important;
    border: 0;
    padding: 10px 15px;
}
a.link-danger
{
    background-color: $red;
    font-weight: 800;
    color: $white;
    border: 0;
    padding: 10px 15px;
}
button:hover
{
    cursor: pointer;
}

.verify-message
{
    background-color: $green;
    margin: 0 auto;
    text-align: center;
}

#newsletter, #order, #reset-password 
{
    margin-top: 5rem;
    padding-bottom: 6rem;
    @media screen and (min-width: $break-medium) {
        margin-bottom: 30rem;
    }

}

@media screen and (max-width: $break-small)
{
    .container, #login .card, #register .card
    {
        min-width: 100% !important;
    }
}
