#login
{
    font-family: $font-family-sans-serif;
    .card
    {
        background-color: $black;
        .card-header
        {
            color: $green;
            font-weight: bolder;
            font-size: 30px;
        }
        .card-body
        {
            label
            {
                color: $green;
            }
        }
    }
}
