@media screen and (min-width: $break-medium)
{
    #login
    {
        margin-bottom: 23rem;
    }
}

#login
{
    margin-top: 5rem;
    
    .card
    {
        box-shadow: 8px 7px 8px -6px #888c8b ;
        .card-header
        {
            color: $black;
            background-color: $green;
            font-weight: bolder;
            font-size: 30px;
        }
        .card-body
        {
            label
            {
                color: $green;
            }
            input
            {
                border: 0;
                border-bottom: 1px solid $green;
            }
        }
    }
}
