@media screen and (max-width: $break-small)
{
    .gallery
    {
        margin-bottom: 5rem;
    }
    #product-details, #app
    {
        .container
        {
            max-width: 100% !important;
        }
    }
}

@media screen and (max-width: $break-medium + 232px)
{
    #product-details
    {
        .product-details
        {
            div.controls
            {
                display: flex;
                justify-content: space-around;
            }
            .general-rated
            {
                color: $green;
            }
        }
    }
}

@media screen and (min-width: $break-medium)
{
    #product-details
    {
        margin-bottom: 10rem;
    }
}


#product-details
{
    .quick-access
    {
        width: 100%;
        background-color: $green;
        margin-bottom: 2rem;
        border-bottom-right-radius: 5px;
        ul
        {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            li
            {
                flex: 1;
                a
                {
                    color: $black;
                    font-weight: bolder;
                    &:hover
                    {
                        color: $white;
                    }
                }
            }
            li:last-child
            {
                a
                {
                    color: $white;
                }
            }
        }
    }
    #carousel-thumb
    {
        ol
        {
            margin-top: 1rem;
            list-style: none;
            justify-content: space-evenly;
            .active
            {
                opacity: 1;
            }
            li
            {
                width: 30%;
                text-indent: 0;
                opacity: 0.6;
                img
                {
                    max-width: 100%;
                }
            }
        }
    }
}
#reviews
{
    .new
    {
        margin-bottom: 2rem;
        .form-group
        {
            label
            {
                font-weight: bolder;
                color: $green;
            }
            input, textarea
            {
                border: 0;
                border-bottom: 1px solid $green;
            }
        }
        .post
        {
            width: 50%;
            border: 0;
            background-color: $green;
        }
        .rating
        {
            float:left;
            width:250px;
            span
            {
                float:right;
                position:relative;
                input
                {
                    position:absolute;
                    top:0px;
                    left:0px;
                    opacity:0;
                }
                label
                {
                    display:inline-block;
                    width:30px;
                    height:30px;
                    text-align:center;
                    color:$white;
                    background:#ccc;
                    font-size:30px;
                    margin-right:2px;
                    line-height:30px;
                    border-radius:50%;
                    -webkit-border-radius:50%;
                }
            }
        }
        .rating span:hover ~ span label,
        .rating span:hover label,
        .rating span.checked label,
        .rating span.checked ~ span label
        {
            background:$green;
            color:$white;
        }
    }
    .reviews
    {
        height: 700px;
        position: relative;
        overflow: scroll;
        .head
        {
            .rated
            {
                color: $green;
                margin: auto 2rem;
                i
                {
                    font-size: 12px;
                    margin: 0;
                }
            }
            img
            {
                width:80px;
                border-radius: 50%;
                margin-right: 1rem;
            }
            i
            {
                font-size: 50px;
                border-radius: 50%;
                margin: auto 1rem;
            }
        }
        .content
        {
            margin-left: 2rem;
        }
    }
}
