#register
{
    margin-top: 5rem;
    @media screen and (max-width: $break-small)
    {
        bottom: -35rem;
    }
    .card
    {
        .card-header
        {
            color: $black;
            background-color: $green;
            font-weight: bolder;
            font-size: 30px;
        }
        .card-body
        {
            label
            {
                color: $green;
            }
            input
            {
                border: 0;
                border-bottom: 1px solid $green;
            }
        }
    }
}

#auth
{
    background-color: $black;
}
