@media screen and (max-width: $break-small)
{
    #shop
    {
        h2
        {
            color: $green;
        }
        img
        {
            max-width: 100%;
        }
        .shop-bg
        {
            .container
            {
                background-color: #CCCCC6;
                padding: 1rem;
            }
        }
        .advanced-search
        {
            margin: 1rem auto;
            .search
            {
                .search-input
                {
                    form
                    {
                        div
                        {
                            width: 100%;
                            label, input
                            {
                                width: 100%;
                            }
                        }
                    }
                }
                .search-specific
                {
                    .search-area
                    {
                        form
                        {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            div
                            {
                                width: 50%;
                                *{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .products
        {
            .container
            {
                div
                {
                    .card
                    {
                        width: 45%;
                        margin: 1rem auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $break-medium)
{
    #shop
    {
        h2, h6
        {
            color: $green;
        }
        img
        {
            max-width: 100%;
            max-height: 50rem;
        }
        .shop-bg
        {
            .container
            {
                background-color: #CCCCC6;
                padding: 1rem;
            }
        }
        .last-carousel
        {
            width: 100%;
            margin: 1rem auto;
            .carousel-inner
            {
                display: flex;
            }
        }
        .advanced-search
        {
            margin: 1rem auto;
            .search
            {
                .search-input
                {
                    form
                    {
                        div
                        {
                            width: 100%;
                            label, input
                            {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .search-specific
            {
                .search-area
                {
                    form
                    {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        div
                        {
                            width: 30%;
                            *{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .products
        {
            .container
            {
                div
                {
                    .card
                    {
                        width: 30%;
                        margin: 1rem auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $break-large)
{
    #shop
    {
        display: flex;
        flex-wrap: wrap;
        h2, h6
        {
            color: $green;
        }
        img
        {
            width: 100%;
        }
        .shop-bg
        {
            width: 100%;
            padding-bottom: 1rem;
            .container
            {
                padding: 2rem auto;
                div *
                {
                    margin: 1rem;
                }
            }
        }
        .productsSearch
        {
            display: flex;
            .advanced-search
            {
                width: 25%;
                padding: 1%;
                margin: 1rem auto;
                border-right: 1px solid $green;
                .container
                {
                    div
                    {
                        min-width: 100%;
                    }
                }
            }
            .products
            {
                width: 73%;
                padding: 1%;
                margin: 1rem auto;
                .container
                {
                    div
                    {
                        justify-content: space-around;
                        .card
                        {
                            width: 28%;
                            margin: 1rem auto;
                            transition: all 1.5s;
                            a
                            {
                                transition: all 1.5s;
                                &:hover
                                {
                                    transform: scale(1.1);
                                    box-shadow: 2px 2px 10px $black;
                                }
                            }
                            /*.card-body
                            {
                                &:hover
                                {
                                        position: absolute;
                                        background-color: $black;
                                        transform: translate(0px) scale(1);
                                        width: 100%;
                                        height: 100%;
                                        display: none;
                                }
                            }*/
                        }
                    }
                }
            }
        }
    }
}

