@media screen and (max-width: $break-small)
{
    #shop
    {

        h2
        {
            color: $green;
        }
        img
        {
            max-width: 100%;
        }
        .shop-bg
        {
            .ad-container
            {
                background-color: #CCCCC6;
                padding: 1rem;
            }
        }
        .productsSearch
        {
            .search-input
            {
                form
                {
                    div
                    {
                        flex-wrap: wrap;
                        justify-content: center;
                        flex: 1;
                        label, input
                        {
                            width: 100%;
                        }
                        input
                        {
                            background-color: transparent;
                            border: 0;
                            border-bottom: 1px solid $green;
                        }
                    }
                    button
                    {
                        width: 100%;
                    }
                }
            }

        .advanced-search
        {
            margin: 1rem auto;
            .search
            {
                .search-specific
                {
                    .search-area
                    {
                        form
                        {
                            display: flex;
                            flex-wrap: wrap;
                            div
                            {
                                width: 100%;
                                *{
                                    width: 100%;
                                }
                                input, select
                                {
                                    border: 0;
                                    border-bottom: 1px solid $green;
                                }
                            }
                        }
                    }
                }
            }
        }
        }
        .products
        {
            .container
            {
                div
                {
                    .card
                    {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $break-medium)
{
    #shop
    {
        h2
        {
            color: $green;
        }
        img
        {
            max-width: 100%;
            height: 70%;
        }
        .shop-bg
        {
            .bg
            {
                height: 50rem;
            }
            .ad-container
            {
                background-color: #CCCCC6;
                padding: 1rem;
                .ad
                {
                    div:first-child
                    {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
        .top-products
        {
            .articles
            {
                display: flex;
                justify-content: space-between;
                .card
                {
                    width: 24%;
                    box-shadow: 8px 7px 8px -6px #888c8b ;
                    :hover
                    {
                        box-shadow: none;
                    }
                }
            }
        }
        .last-carousel
        {
            width: 100%;
            margin: 1rem auto;
            .carousel-inner
            {
                display: flex;
            }
        }
        .advanced-search
        {
            margin: 1rem auto;
            .search-specific
            {
                .search-area
                {
                    form
                    {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        div
                        {
                            width: 30%;
                            *{
                                width: 100%;
                            }
                            input, select
                            {
                                border: 0;
                                border-bottom: 1px solid $green;
                            }
                        }
                    }
                }
            }
        }
        .search-input
        {
            div, div label
            {
                width: 80%;
                input
                {
                    border: 0;
                    width: 70%;
                    border-bottom: 1px solid $green;
                }
            }
        }
        div
        {
            .card
            {
                width: 30%;
                margin: 1rem auto;
                border: 0;
                padding: 0.5rem;
                box-shadow: 8px 7px 8px -6px #888c8b ;
                :hover
                {
                    box-shadow: none;
                }
            }
        }
    }
}

@media screen and (min-width: $break-large)
{
    #shop
    {
        h2
        {
            color: $green;
        }
        img
        {
            width: 100%;
        }
        .shop-bg
        {
            width: 100%;
            padding-bottom: 1rem;
            margin-bottom: 10rem;
            position: relative;
            .ad-container
            {
                background-color: $black;
                padding: 2rem auto;
                position: absolute;
                top: 80%;
                width: 100%;
                div
                {
                    h1
                    {
                        color: $green;
                    }
                    p
                    {
                        color: $white;
                    }
                }
                div *
                {
                    margin: 1rem;
                }
            }
        }
        .productsSearch
        {
            display: flex;
            .advanced-search
            {
                width: 25%;
                padding: 1%;
                margin: 1rem auto;
                border-right: 1px solid $green;
                .container
                {
                    div
                    {
                        min-width: 100%;
                        input, select
                        {
                            border: 0;
                            background-color: transparent;
                            border-bottom: 1px solid $green;
                        }
                    }
                }
            }
            .products
            {
                width: 73%;
                padding: 1%;
                margin: 1rem auto;
                .container
                {
                    div
                    {
                        justify-content: space-around;
                        .card
                        {
                            width: 28%;
                            margin: 1rem auto;
                            transition: all 0.5s;
                            border: 0;
                            a
                            {
                                transition: all 0.5s;
                                &:hover
                                {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}