@media screen and (max-width: 1000px)
{
    #wishlist
    {
        .products
        {
            .product
            {
                max-width: 49%;
                .control
                {
                    flex-wrap: wrap;
                    a
                    {
                        margin: 1rem auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1000px)
{
    #wishlist
    {
        .products
        {
            .product
            {
                max-width: 32%;
                .control
                {
                    flex-wrap: wrap;
                    a
                    {
                        margin: 1rem auto;
                    }
                }
            }
        }
    }
}
#wishlist
{
    .quick-access
    {
        width: 25%;
        background-color: $green;
        border-bottom-right-radius: 5px;
        height: 20rem;
        ul
        {
            list-style: none;
            margin: 0;
            width: 100%;
            li
            {
                width: 100%;
                margin: 5% auto;
                a
                {
                    color: $black;
                    font-weight: bolder;
                    &:hover
                    {
                        color: $white;
                    }
                }
            }
            li:last-child
            {
                a
                {
                    color: $white;
                }
            }
        }
    }
}
