// Background color
$main-bg: black;

// Typography
$font-family-sans-serif: 'Berkshire Swash', cursive;
$font-family-anton: 'Anton', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #2BBBAD;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// responsive

$break-small: 768px;
$break-medium: 768px;
$break-large: 1200px;
