#footer
{
    position: absolute;
    display: none;
    bottom: 0;
    width:100%;
    @media screen and (max-width: $break-small)
    {
        bottom: -33rem;
        .bottom
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .toggle-menu, .large-screen
        {
            display: none;
        }

    }
    @media screen and (max-width: $break-large)
    {
        .toggle-menu, .large-screen
        {
            display: none;
        }
    }
    @media screen and (min-width: $break-large)
    {
        .toggle-menu, .large-screen
        {
            display: none;
        }

        b
        {
            max-width: 25%;
        }
    }
    .bottom
    {
        display: flex;
        justify-content: space-between;
        background-color: $black;
        color: $white;
        b
        {
            margin: 1rem auto;
        }
        #header-menu
        {
            .bottom-menu{
                ul
                {
                    display: flex;
                }
            }
            .logo, .search, .user, .cart
            {
                display: none;
            }
            a
            {
                color: $white;
                &:hover
                {
                    color: $green;
                }
            }
        }
    }
    .alert
    {
        display: none;
    }
}

