@media screen and (max-width: $break-small)
{
    #header
    {
        .top-menu
        {
            width: 100vw;
        }
        #header-menu
        {
            background-color: $main-bg;
            font-family: $font-family-anton;
            a
            {
                color: $white;
            }
            a:hover
            {
                color: $green;
            }
            .logo
            {
                display: block;
                width: 100%;
                text-align: center;
                padding: 1rem;
            }
            .large-screen
            {
                display: none;
            }
            .toggle-menu
            {
                margin: 1rem auto;
                text-align: center;
                div
                {
                    width: 100%;
                }
                button
                {
                    background-color: transparent;
                    border: 0;
                    color: $green;
                    width: 100%;
                    font-weight: bolder;
                    font-size: 20px;
                    i
                    {
                        width: 100%;
                        color: $green;
                    }
                }
                div
                {
                    background-color: $black;
                }
            }
            .search
            {
                margin: auto;
                div
                {
                    margin: auto;
                    flex-wrap: wrap;
                    button, label
                    {
                        margin: 0.5rem;
                        width: 100%;
                    }
                    input
                    {
                        border: 0;
                        border-bottom: 1px solid $green;
                        background-color: $black;
                    }
                }
            }
            .bottom-menu
            {
                display: none;
            }
            .changeLang
            {
                background-color: $black;
                border-bottom: 1px solid $green;
                width: 5rem;
                color: $green;
            }
        }
    }
}

@media screen and (min-width: $break-medium)
{
    #header
    {
        #header-menu
        {
            background-color: $main-bg;
            font-family: $font-family-anton;
            font-size: 30px;
            display: block;

            .top-menu
            {
                display: flex;
                font-size: 20px;

                .changeLang
                {
                    background-color: $black;
                    border-bottom: 1px solid $green;
                    color: $white;
                    width: 2rem;
                    font-size: 12px;
                }
            }
            .bottom-menu
            {
                width: 100%;
                text-align: center;
                ul
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                }
            }
            .toggle-menu
            {
                display: none;
            }
            .large-screen
            {
                width: 20%;
                display: flex;
                justify-content: flex-end;
                .content
                {
                    ul
                    {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            a
            {
                color: $white;
            }
            a:hover
            {
                color: $green;
            }
            .logo
            {
                display: block;
                max-width: 25%;
                text-align: center;
                padding: 1rem;
                h1
                {
                    font-size: 35px;
                }
            }
            .over
            {
                position: absolute;
            }
            form>div
            {
                flex: 1
            }
            .search
            {
                margin: auto;
                width: 100vw;
                div
                {

                    button, label
                    {
                        margin: 0.5rem;
                    }
                    input
                    {
                        border: 0;
                        border-bottom: 1px solid $green;
                        background-color: $black;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $break-large)
{
    #header
    {
        #header-menu
        {
            .top-menu
            {
                .content
                {
                    ul
                    {
                        display: flex
                    }
                }
            }
        }
    }
}

