#app\ navAuth
{
    nav
    {
        background-color: $main-bg;
        font-family: $font-family-sans-serif;
        .container
        {
            a
            {
                color: $white;
                &:hover
                {
                    color: $green;
                }
            }
            button
            {
                background-color: $white;
                border: 1px solid $green;
            }
        }
    }
}
