
    .quick-menu
    {
        margin-bottom: 5rem !important;
        padding: 1rem !important;
        a
        {
            color: $black !important;
            &:hover
            {
                color: $green !important;
            }
        }
    }

